.contestants {
  display: flex;
  width: 100%; 

  &__element {
    width: 20%;
    padding-left: 10px;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;

    &:nth-child(6) {
      border-right: 1px solid grey;
    }

    &--delete {
      background-color: lightcoral;
      cursor: pointer;
      color: white;
      margin-left: -4rem;
      margin-top: 1.5rem;
      border: none;
      border-radius: 11%;
      padding: 5px;
    }

  }

  &__name {
    background: orange;
    padding: 10px;
    width: fit-content;
    border-radius: 11%;
    cursor: pointer;
  }
}
